@import './variables.scss';

@mixin confirm-button {
  width: 320px;
  height: 40px;
  background: $blue;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  line-height: 24px;
}

@mixin bordered-button($color) {
  font-family: 'Inter';
  border: 1px solid $color;
  box-sizing: border-box;
  border-radius: 5px;
  color: $color;
}

@mixin fsize-base {
  font-size: 14px;
  line-height: 22px;
}

@mixin fsize-small {
  font-size: 12px;
  line-height: 22px;
}

@mixin icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

@mixin container {
  background-color: white;
  width: 940px;
  min-height: 140px;
  border-radius: 5px;
  box-shadow: $shadow;
  padding: 15px 15px 24px 20px;
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  margin: 26px 0;

  &:hover {
    cursor: pointer;
  }
}

@mixin submit-btn {
  background-color: $blue;
  color: white;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  padding: 8px 0;
}

@mixin input-plate {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $text-color;
  padding: 12px 8px;

  &::placeholder {
    color: $disabled-color;
  }

  &:focus {
    border-color: $blue;
  }

  &:invalid {
    border-color: $red;
  }
}

@mixin input-warning-p {
  width: 100%;
  color: $red;
  margin: 0;
  @include fsize-small;
}

@mixin form-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: $heading-color;
  margin-bottom: 20px;
}
