@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
}

.container {
  @include container;
  margin-top: 0;
}
